<a href="/items/sample">
  <div class="bg-white">
    <div>
      <div class="border-r border-b border-slate-400 text-slate-600 w-fit pr-2 mb-4">Item</div>
      <p class="leading-snug text-lg">Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
      <div class="aspect-square w-full border crossed my-6"></div>
    </div>
  </div>
</a>