{% comment %} <div class="border crossed w-full aspect-4/3 mb-12 bg-center bg-no-repeat">
  <img src="/files/{{ item.pid }}.jpg"/>
</div> {% endcomment %}

<div id="map" class="w-full z-0 h-full sticky top-0" style="background-color: #f9f3ec;"></div>

<script src="https://cdn.jsdelivr.net/npm/openseadragon@3.1/build/openseadragon/openseadragon.min.js"></script>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    window.viewer = OpenSeadragon({
      id: "map",
      sequenceMode: true,
      prefixUrl: "{{ '/assets/vendor/osd/icons/' | url }}",
      tileSources: {
          type: 'image',
          url:  "{{ '/files' | htmlBaseUrl }}/{{ item.pid }}.jpg"
      },
      placeholderFillStyle: "#FFFFFF",
      showReferenceStrip: true,
      showHomeControl: false
    });
    // viewer.innerTracker.scrollHandler = false;
  });
</script>