<div class="text-xl max-w-[60ch]">
  <dl>
    <dt class="font-bold">Beast of Bodmin</dt>
    <dd>A large feline inhabiting Bodmin Moor.</dd>
    <dt class="font-bold mt-6">Morgawr</dt>
    <dd>A sea serpent.</dd>
    <dt class="font-bold mt-6">Owlman</dt>
    <dd>A giant owl-like creature.</dd>
    <dt class="font-bold mt-6">Beast of Bodmin</dt>
    <dd>A large feline inhabiting Bodmin Moor.</dd>
    <dt class="font-bold mt-6">Morgawr</dt>
    <dd>A sea serpent.</dd>
    <dt class="font-bold mt-6">Owlman</dt>
    <dd>A giant owl-like creature.</dd>
  </dl>
</div>