---
layout: base
---

<div class="px-6 pt-20">
  <h1 class="text-5xl">[H1] {{ title }}</h1>
  <div class="md:gap-12 flex flex-row md:flex-nowrap flex-wrap items-start">
    <div class="md:basis-1/4">
      <div class="md:sticky md:top-20 mt-12 mb-12 md:mb-0">
        <h2 class="text-3xl mb-6">[H2] Filter</h2>
        <h3 class="text-xl my-6 font-black">[H3] Field Key</h3>
        <ul class="space-y-1 [&_a]:underline [&_a]:hover:underline">
          <li><a href="">Field Value</a></li>
          <li><a href="">Field Value</a></li>
          <li><a href="">Field Value</a></li>
        </ul>
        <h3 class="text-xl my-6 font-black">[H3] Field Key</h3>
        <ul class="space-y-1 [&_a]:underline [&_a]:hover:underline">
          <li><a href="">Field Value</a></li>
          <li><a href="">Field Value</a></li>
          <li><a href="">Field Value</a></li>
        </ul>
        <h3 class="text-xl my-6 font-black">[H3] Field Key</h3>
        <ul class="space-y-1 [&_a]:underline [&_a]:hover:underline">
          <li><a href="">Field Value</a></li>
          <li><a href="">Field Value</a></li>
          <li><a href="">Field Value</a></li>
        </ul>
      </div>
    </div>
    <div class="md:basis-3/4 mb-12">
      
      <div class="">
        <h2 class="text-3xl mb-6 px-6">[H2] Search</h2>
        <form method="GET" action="/explore" class="px-6">
          <div class="flex">
            <select name="field" class="border border-gray-300 rounded-l px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
              <option value="all">All Fields</option>
              {% for i in (1..8) %}
              <option value="title">Field #{{i}}</option>
              {% endfor %}
            </select>
            <input type="text" name="q" value="{{ request.params.q | escape }}" placeholder="Search..." class="flex-grow border-t border-b border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
            <button type="submit" class="cursor-pointer bg-black text-white px-4 py-2 rounded-r  focus:outline-none focus:ring-2 focus:ring-blue-500">Search</button>
          </div>
        </form>
        {% include "grid/item-cards" heading:"Results" %}
      </div>
    </div>
  </div>
</div>