@import "tailwindcss";

@font-face {
  font-family: 'ZurichBT';
  src: url('assets/ZurichBT-Regular.woff') format('woff');
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

@theme {
  --font-sans: 'ZurichBT', sans-serif;
}

.crossed {
  background: 
      linear-gradient(to top left,
          rgba(0,0,0,0) 0%,
          rgba(0,0,0,0) calc(50% - 0.8px),
          rgba(0,0,0,1) 50%,
          rgba(0,0,0,0) calc(50% + 0.8px),
          rgba(0,0,0,0) 100%),
      linear-gradient(to top right,
          rgba(0,0,0,0) 0%,
          rgba(0,0,0,0) calc(50% - 0.8px),
          rgba(0,0,0,1) 50%,
          rgba(0,0,0,0) calc(50% + 0.8px),
          rgba(0,0,0,0) 100%);
}
 
.link {
  @apply border-b border-transparent hover:border-inherit;
}

/*
.color-link {
  @apply text-green-500 border-b hover:border-transparent;
} */

@layer utilities {
  .hamburger-toggle {
    @apply [&>div]:h-0 [&>div]:bg-white [&>div]:before:translate-y-0 [&>div]:before:rotate-45 [&>div]:after:translate-y-0 [&>div]:after:-rotate-45;
  }
}