@import "tailwindcss";

@font-face {
  font-family: 'ZurichBT';
  src: url('assets/ZurichBT-Regular.woff') format('woff');
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

:root {
  --font-sans: 'ZurichBT', sans-serif;
}

.crossed {
  background: 
      linear-gradient(to top left,
          rgba(0,0,0,0) 0%,
          rgba(0,0,0,0) calc(50% - 0.8px),
          rgba(0,0,0,1) 50%,
          rgba(0,0,0,0) calc(50% + 0.8px),
          rgba(0,0,0,0) 100%),
      linear-gradient(to top right,
          rgba(0,0,0,0) 0%,
          rgba(0,0,0,0) calc(50% - 0.8px),
          rgba(0,0,0,1) 50%,
          rgba(0,0,0,0) calc(50% + 0.8px),
          rgba(0,0,0,0) 100%);
}
 
 .link {
  border-bottom-width: 1px;
  border-bottom-color: transparent;
}

.link:hover {
  border-bottom-color: inherit;
}

/*
.color-link {
  @apply text-green-500 border-b hover:border-transparent;
} */

@layer utilities {
  /* Expanded hamburger-toggle styles to avoid using @apply with complex selectors */
  .hamburger-toggle > div {
    height: 0;
    background-color: white;
  }
  .hamburger-toggle > div::before {
    transform: translateY(0) rotate(45deg);
  }
  .hamburger-toggle > div::after {
    transform: translateY(0) rotate(-45deg);
  }
}