---
---
<!doctype html>
<html lang="en" id="top" class="croll-pt-20 scroll-smooth">
  {% include "head" %}
  <body class="m-0 p-0 flex flex-col h-dvh">
    {% include "nav" %}
    <main class="flex-1 overflow-y-auto overflow-x-hidden">
      {% include "header" %}
      {{ content }}
    </main>
    {% include "footer" arg1: "hello", arg2: "world" %}
  </body>
</html>