<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, width=device-width, viewport-fit=cover">
  <title>{{ site.title }} | {{ title }}</title>

  <link href="{{ '/main.css' }}" rel="stylesheet">
  <link rel="icon" href="{{ '/assets/favicon.png' }}" type="image/png">
</head>
