<header class="px-6 pt-20 md:gap-12 flex flex-row md:flex-nowrap flex-wrap items-start">
  <div class="md:basis-1/2 text-5xl mb-12">
    <h1 class="">
      <span>[H1] {{ title }}</span>
    </h1>
    <div class="py-6 text-2xl">{{ description }}</div>
  </div>
  <div class="md:basis-1/2">
    <div class="border crossed  w-full aspect-3/2"></div>
  </div>
</header>