<header class="px-6 py-6 gap-6 flex flex-row md:flex-nowrap flex-wrap items-center">
  <div class="md:basis-1/2 text-5xl my-12">
    <h1 class="max-w-[30ch]">{{ title }}</h1>
  </div>
  <div class="md:basis-1/2">
    <div class="max-w-[60ch] py-2 text-xl">{{ description }}</div>
  </div>
</header>