<nav class="flex md:flex-nowrap flex-wrap justify-between full p-6">
  <a class="text-xl" href="/">
    <div class="h-[1rem] aspect-square bg-amber-600 inline-block align-baseline"></div>
    {{ site.title }}
  </a>
  <div class="flex flex-row flex-nowrap">
    {% for item in site.menu %}
      <div class="mr-2">
        <a href="{{ item.link }}" class="link text-unset">{{ item.title }}</a>
      </div>
    {% endfor %}
  </div>
</nav>